{%extends "base.html"%}

{%block content%}
	<h1><span>42 coffee cups</span> Тестові завдання</h1>
	<img src="media/images/coffee-cup.jpg" alt="" class="cup" />
	<ul class="mainmenu">
		<li>
			<a href="/contact/" title="contact">contact</a>
			<p>
			<span>Ticket:1</span><br>base Create basic django-проект that would present your name, surname, bio, contacts on the main page. Data should be stored in the DB, that's
			manage.py syncdb
			manage.py runserver
			open the browser and all data are in, loaded from fixtures
			</p>			
		</li>
		<li>
			<a href="/request_store/" title="stored requests">request store</a>
			<p>
			<span>Ticket:3</span><br>
			middleware&lists Create middleware that stores all http requests in the DB
			</p>			
		</li>
		<li>
			<a href="/show_settings/" title="show settings">project settings</a>
			<p>
			<span>Ticket:4</span><br>
			Create template-context-processor that adds django.settings to the context
			</p>			
		</li>
	</ul>
{% endblock %}