html {
   font-size:100%;
}

body {
  font:100 62.5% Verdana;
}

.wrap{
	margin:0 auto;
	width:965px;
	}

h1 {
	color:#003366;
	font:100 1.8em Verdana, Geneva, sans-serif;
	}
h1 span {
	font-weight:800;
	text-decoration:underline;
	}

.mainmenu {
	list-style:none;
	}
.mainmenu li {
	border:1px solid #003366;
	float:left;
	padding:4px;
	width:150px;
	}
.mainmenu a {
	color:#333;
	text-decoration:none;
	font:800 1.2em Verdana;
	}
	


.cup{
	float:left;
	}

.info{
  font:100 1.2em Verdana;
  width:965px;
  margin:5px;
  float:left;
  padding:2px;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

  .info img {
    float:left;
  }
  
  .info h1 {
    font:800 1.4em Tahoma;
    color: #999999;
  }
  
  .requests{
    width:100%;
    float:left;
  }
  .requests ul {
     width:100%;
     list-type:none;
     margin-top:15px;
     background:#003366;
  }
  .requests ul li {
    float:left;
    width:19%;
    font:100 1.2em Verdana;
  }